/*Carousel css */
.carousel-container {
    margin: 15px auto;
    padding: 0;
    height: 500px;
    width: 1410px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0; /*puts the carousel in the background on the dom*/
  }
  
  .carousel-image {
    margin: 0 auto;
    width: 400px;
    height: 350px;
    top: 35%;
    left: calc(50% - 150px);
  }

  
  /*Carousel buttons*/
  .left, .right {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 6px;
    height: 50px;
    width: 30px;
  }

  .left {
    left: 135px;
  }

  .right {
    right: 115px;
  }