.grandchild-component {
  margin-left: 40px;
  text-align: center;
  
}

.child-component {
  margin-top: 25px;
  margin-left: 30px;
  text-align: center;
}

.child-component hr {
  margin: 20px auto 20px;
}