/* Books.css */
.books-row {
    margin: 30px;
    padding: 2px;
    background: #333;

}

.books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    margin: 25px;
    background: rgb(207, 137, 7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(20% - 20px);
    box-sizing: border-box;
}

.book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.book-card h2 {
    font-size: 1em;
    margin: 5px 0;
}

.book-card p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: #333;
    line-height: 1;
}

.book-card description {
    margin-bottom: 10px;
}

.book-card price {
    margin-bottom: 10px;
}

.book-card a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    display: block;
}
