/*careers css code*/
.careers-container {
    margin: 30px;
    padding: 25px;
    height: 400px;
    width: 1575px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: bisque;
    font-size: 24px;
  }
  
  .careers-container h1 {
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    color: black;
  }
  